.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }
  
  .section-title h2 {
    margin: 0 15px; 
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
  }
  
  .section-title .line {
    width: 15rem; 
    height: 3px;
    background-color: orange;
  }
  