.category-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 1px orange solid !important;
  }

  .category-card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .category-card:hover img {
    transform: scale(1.05);
  }
  
  .category-card .overlay-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(59, 57, 57);
    /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); */
    
  }
  