.rtl{
    text-align: right;
}


.accordion-button:not(.collapsed) {
  color: orange !important;        
  background-color: blanchedalmond !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
  filter: invert(52%) sepia(86%) saturate(2000%) hue-rotate(360deg) brightness(100%) contrast(105%);
}


.accordion-button:hover {
  color: orange;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.accordion-body {
    background-color: #fff8f0 !important;
}

