
.text-right-placeholder::placeholder {
  text-align: right;
}

.full-width-img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}
  
.form-control:focus {
  outline: 2px solid blanchedalmond !important;   
  outline-offset: 2px;                 

  border-color: orange !important;  
  box-shadow: 0 0 0 0.15rem rgba(255, 165, 0, 0.4) !important; 
}

.text-right-placeholder::placeholder {
  text-align: right;
}
  